{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:all" %}',
                dataType: 'json',
                success: function (response) {
                            daftar = response['daftar'];
                            for(i=0; i<daftar.length; i++){
                                container = '<div style="margin-bottom:20px;" id='+daftar[i].id+'>';
                                html = '<a class="list-group-item clearfix" onclick="displayFriend('+daftar[i].id+');">' +
                                    daftar[i].friend_name + ' (' +
                                    daftar[i].npm
                                    + ') </a>';
                                button = '<button class="buttonDelete" onClick=deleteFriend('+daftar[i].id+')>DELETE</button>';
                                $("#friend-list").append(container+html+button+'</div>');
                            }
                },
                error: function(error){
                    {#tampilkan pesan error#}
                }
            });

      });
      var deleteFriend = function(id) {
        $.ajax({
          method: "POST",
          url : "{% url 'lab-7:delete-friend' %}",
          data: {friend_id:id},
          dataType : 'json',
          success: $('#'+id).fadeOut(),
        });
      };

      var displayFriend = function(id) {
      window.location.href = "display-friend/"+id;
      };
    </script>
{% endblock %}
